.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#timer {
    font-size: 24px;
    margin-top: 10px;
}